.fa-xl {
  font-size: 1.5rem;
}

.header button {
  color: white!important;
  font-weight: 500;
}

.nav-link.active {
  color: #FF9142!important;
  border: none!important;
  border-bottom: 1px solid #FF9142!important;
}

.nav-link {
  border: none!important;
  color: rgba(0, 0, 0, 0.6)!important;
  border-color: transparent!important;
}

.bgcolor-main {
  background-color: #FF9142;
  color: white;
}

.color-main {
  color: #FF9142;
}

.color-sub {
  color: rgba(0, 0, 0, 0.6);
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

.input-head {
  font-size: 14px;
  background-color: white;
  padding: 0 8px;
  top: -12px;
  left: 8px;
}

.btn:hover {
  color: white;
}

.section-package .card {
  border-radius: 16px;
}

#back-office .btn.btn-primary {
  background-color: rgb(75, 0, 118);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

#back-office .form-container {
  position: relative;
  background-color: transparent;
}

.form-control, .form-control:focus {
  box-shadow: none;
}

header i {
  font-size: 30px;
  width: 30px;
}

#back-office .color-main {
  color: rgb(75, 0, 118);
}

#back-office .bgcolor-main {
  background-color: rgb(75, 0, 118);
}

#back-office-sidenav .menu-item.disabled {
  justify-content: space-between;
}

#back-office-sidenav .menu-item {
  display: flex;
  align-items: center;
}

#back-office-sidenav .menu-item i:nth-child(1) {
  width: 24px;
  height: 24px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-office-sidenav .menu-item.active {
  background-color: rgba(75, 0, 118, 0.08);
}

@media (min-width:1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }
}

#modal-pencarian .col-12 {
  margin-bottom: 1rem;
}

.btn-detail {
    color: black!important;
    box-shadow: none!important;
    border-radius: 0px;
}

#highlights li, #includes li, #excludes li, #terms-conditions li, #cancellation li {
    font-size: 18px;
}

#itinetary i {
    color: rgb(75, 0, 118);
    font-size: 18px;
}

#excludes li i, #cancellation li i {
    color: red;
}

#includes li i {
    color: green;
}

#highlights li i {
    color: #FF9142;
}

#terms-conditions li i {
    color: #ffc107;
}

.social-icons {
    color: #313437;
    background-color: #fff;
}

.social-icons i {
    font-size: 32px;
    display: inline-block;
    color: #757980;
    margin: 0 10px;
    width: 60px;
    height: 60px;
    border: 1px solid #c8ced7;
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
}

.rounded-indicators {
    width: 10px!important;
    height: 10px!important;
    border-radius: 100%!important;
}

.sticky {
    position: fixed;
    top: 0;
}
